<div id="mainpage-wrapper">
  <!--img alt class="toolbal-icon" src="../image/test.png" width="200" height="80"-->
  <router-outlet></router-outlet>
  <div id="mainpage-content">
    <h1>San Diego Verbal Paired-Associates (SD-VPA) Task, Version 2.1</h1>
    <nav>
      <ul class="main-content-nav">
        <ol>
          <h2 id="list">
            <!-- <a [routerLink]="['app-lits','one']" routerLinkActive="active">List One</a> -->
            List One: 
              <a [routerLink]="['app-message-page','one']" routerLinkActive="active">English</a> | 
              <a [routerLink]="['app-message-page-esp','one-esp']" routerLinkActive="active">Spanish</a>
            
            <!-- <a [routerLink]="['app-message-page','one']" routerLinkActive="active">List One</a> -->
          </h2>
        </ol>

        <ol>
          <h2 id="list">
            List Three:
              <a [routerLink]="['app-message-page','three']" routerLinkActive="active">English</a> |
              <a [routerLink]="['app-message-page-esp','three-esp']" routerLinkActive="active">Spanish</a>
          </h2>
        </ol>

        <ol>
          <h2 id="list">
            List Five:
              <a [routerLink]="['app-message-page','five']" routerLinkActive="active">English</a> |
              <a [routerLink]="['app-message-page-esp','five-esp']" routerLinkActive="active">Spanish</a>
          </h2>
        </ol>

        <ol>
          <h2 id="list">
            UCSD ALZ-OSA List One:
              <a [routerLink]="['app-message-page','osa-one']" routerLinkActive="active">English</a> 
              <!-- |
              <a [routerLink]="['app-message-page-esp','osa-one-esp']" routerLinkActive="active">Spanish</a>-->
          </h2>
        </ol>

        <ol>
          <h2 id="list">
            UCSD ALZ-OSA List Three:
              <a [routerLink]="['app-message-page','osa-two']" routerLinkActive="active">English</a> 
              <!-- | 
              <a [routerLink]="['app-message-page-esp','osa-two-esp']" routerLinkActive="active">Spanish</a>-->
          </h2>
        </ol>

        <ol>
          <h2 id="list">
            UCSD ALZ-OSA List Five:
              <a [routerLink]="['app-message-page','osa-five']" routerLinkActive="active">English</a> 
              <!-- | 
              <a [routerLink]="['app-message-page-esp','osa-two-esp']" routerLinkActive="active">Spanish</a>-->
          </h2>
        </ol>
      </ul>
    </nav>
  </div>
  <div id='legal'>
    <div id="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
      </a>
      <div>
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
          San Diego Verbal Paired-Associates (SD-VPA) Task
        </span> 
        by 
        <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">
          Chris Schmickl, Atul Malhotra, Ina Djonlagic, Christian Harding, Tyler Bath, Devanshi Jain, Cash Rice
        </span> 
        is licensed under a 
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
        </a>.  

        <br/><br/>

        Spanish translations were created with help from Ricardo Osorio, Diego Quintana Licona, 
        Katarina Martillo, Luisa Figueredo Atilano, Andrew Varga.
      </div>
    </div>
    <p>
      <!-- Version 1 of the application: "https://github.com/ucsdmalhotra/word-pairs-associate-2023" -->
      Please see <a href="https://github.com/Cash-R/word-pair-associate-2023-v2-1">our Github</a> 
      for information about using or repurposing this software. If you have any questions, find any 
      bugs, want complementary REDCap forms to collect the results from the app, or want to receive 
      updates about potential changes in the app, then please contact Chris Schmickl at 
      cschmickl@health.ucsd.edu. If possible, please also let us know if you publish results based 
      on this app in a peer-reviewed journal so we can post an updated list of references for future 
      users.
    </p>
    <span>
      Continued development from: Djonlagic IE, Guo M, Igue M, Kishore D, Stickgold R, Malhotra A. 
      CPAP Restores Declarative Memory Deficit in Obstructive Sleep Apnea. 
      AJRCCM 2021 May 1;203(9):1188-1190 
      <a href="https://doi.org/10.1164/rccm.202011-4253LE">https://doi.org/10.1164/rccm.202011-4253LE</a>
    </span>
  </div>
</div>
