<div class="message-format" [hidden]="hideMessage">
    <p lang="es">Se le presentará una lista de pares de palabras, un par a la vez.<br>
        Piense y recuerde las palabras como pares e intente memorizar tantos pares de palabras como sea posible.<br>
        No se requiere respuesta en esta primera parte del experimento.<br>
    </p>
    <!-- <p><strong>Press the SPACE bar to continue</strong></p> -->
    <nav>
        <a class="continue_btn" [routerLink]="['/word-associate',listName]">Presione la barra SPACE (ESPACIADORA) para continuar</a>   
    </nav>
</div>
