<div> 
       <p>En esta parte de la tarea, la primera palabra de cada par aparecerá en la pantalla.<br>
       Su trabajo consiste en escribir la segunda palabra y luego presionar la tecla <strong>ENTER</strong>.<br>
       Tienes varios segundos para completar cada par.<br><br>
       Después de tu respuesta, la computadora te dirá si tu respuesta fue correcta o incorrecta.<br>
       Si su respuesta fue incorrecta, la computadora le dará la respuesta correcta.
       <br><br>
       No hay penalización por adivinar, pero intenta responder<br>
       lo más rápido y preciso posible.<br>
       Si no puedes pensar en la palabra,<br>
       puede presionar la tecla <strong>ENTER</strong> para pasar a la siguiente pregunta.<br>
       </p>
       <!-- <p><strong>Press the SPACE bar to continue</strong></p> -->
</div>

<div class="next_btn_wrap">
       <button class="next_btn_fix" 
       [routerLink]="['/input-esp']" href="">Presione la barra SPACE (ESPACIADORA) para continuar</button>
</div>
