<div> 
       <p>En esta parte de la prueba, la primera palabra de cada par aparecerá en la pantalla.<br>
       Su trabajo consiste en escribir la segunda palabra y luego presionar la tecla <strong>ENTER</strong>.<br>
       Tiene varios segundos para completar cada par.<br><br>
       Después de su respuesta, la computadora le dirá si su respuesta fue correcta o incorrecta.<br>
       Si su respuesta fue incorrecta, la computadora le dará la respuesta correcta.
       <br><br>
       No hay penalización por adivinar, pero intente responder<br>
       lo más rápido y preciso posible.<br>
       Si no puede pensar en la palabra,<br>
       puede presionar la tecla <strong>ENTER</strong> para pasar a la siguiente pregunta.<br><br>
       Esta aplicación electrónica fue construida para aceptar caracteres regulares (por ejemplo, 
       "o" en vez de "ó", "a" en vez de "á", "i" en vez de "í", "n" en vez de "ñ", y "u" en vez de 
       "ú"). Con esto en mente, por favor ingrese sus respuestas utilizando únicamente caracteres 
       regulares (sin tildes ni letra ñ). Gracias.<br>
       </p>
       <!-- <p><strong>Press the SPACE bar to continue</strong></p> -->
</div>

<div class="next_btn_wrap">
       <button class="next_btn_fix" 
       [routerLink]="['/input-esp']" href="">Presione la barra SPACE (ESPACIADORA) para continuar</button>
</div>
